<h1>Listing manufacturer_synonyms</h1>

<table>
  <tr>
    <th>Manufacturer</th>
    <th>Title</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacturer_synonyms.each do |manufacturer_synonym| %>
  <tr>
    <td><%= manufacturer_synonym.manufacturer %></td>
    <td><%= manufacturer_synonym.title %></td>
    <td>
      <% if manufacturer_synonym.job_id %>
        <% begin %>
          <%= link_to Job.find(manufacturer_synonym.job_id), supplier_job_path(Job.find(manufacturer_synonym.job_id).supplier_id, manufacturer_synonym.job_id) %>
        <% rescue => e %>
          <%= manufacturer_synonym.job_id %>
          <% end %>
      <% end %>
    </td>
    <td><%= link_to 'Show', manufacturer_manufacturer_synonym_path(manufacturer_synonym.manufacturer_id, manufacturer_synonym, {:page => params[:page], :letter => params[:letter]}) %></td>
    <td><%= link_to 'Edit', edit_manufacturer_manufacturer_synonym_path(manufacturer_synonym.manufacturer_id, manufacturer_synonym, :page => params[:page], :letter => params[:letter]) %></td>
    <td><%= link_to 'Destroy', manufacturer_manufacturer_synonym_path(manufacturer_synonym.manufacturer_id, manufacturer_synonym, :page => params[:page], :letter => params[:letter]), :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Manufacturer synonym', new_manufacturer_manufacturer_synonym_path(:letter => params[:letter], :page => params[:page]) %> <br />
<br />
<%= link_to 'Список производителей', manufacturers_path(:page => params[:page], :letter => params[:letter]) %> 
