<p id="notice"><%= notice %></p>

<p>
  <b>Manufacturer:</b>
  <%= @manufacturer_synonym.manufacturer %>
</p>

<p>
  <b>Title:</b>
  <%= @manufacturer_synonym.title %>
</p>


<%= link_to 'Edit', edit_manufacturer_manufacturer_synonym_path(@manufacturer_synonym) %> |
<%= link_to 'Back', manufacturer_manufacturer_synonyms_path %>
