<h1>Editing ftp_setting</h1>

<% form_for(@ftp_setting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ftp %><br />
    <%= f.text_field :ftp %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ftp_setting %> |
<%= link_to 'Back', ftp_settings_path %>