<h1>Listing ftp_settings</h1>

<table>
  <tr>
    <th>Ftp</th>
  </tr>

<% @ftp_settings.each do |ftp_setting| %>
  <tr>
    <td><%=h ftp_setting.ftp %></td>
    <td><%= link_to 'Show', ftp_setting %></td>
    <td><%= link_to 'Edit', edit_ftp_setting_path(ftp_setting) %></td>
    <td><%= link_to 'Destroy', ftp_setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ftp_setting', new_ftp_setting_path %>