<h1>Editing folder</h1>

<% form_for(@folder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @folder %> |
<%= link_to 'Back', folders_path %>