<p>
  <b>Path:</b>
  <%=h @folder.path %>
</p>

<p>
  <b>Login:</b>
  <%=h @folder.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @folder.password %>
</p>


<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>