<h1>Listing email_settings</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Pop</th>
  </tr>

<% @email_settings.each do |email_setting| %>
  <tr>
    <td><%=h email_setting.email %></td>
    <td><%=h email_setting.pop %></td>
    <td><%= link_to 'Show', email_setting %></td>
    <td><%= link_to 'Edit', edit_email_setting_path(email_setting) %></td>
    <td><%= link_to 'Destroy', email_setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New email_setting', new_email_setting_path %>