<h1>Editing auto_option</h1>

<% form_for(@auto_option) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :auto %><br />
    <%= f.text_field :auto %>
  </p>
  <p>
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </p>
  <p>
    <%= f.label :transmission %><br />
    <%= f.text_field :transmission %>
  </p>
  <p>
    <%= f.label :gear %><br />
    <%= f.text_field :gear %>
  </p>
  <p>
    <%= f.label :fuel %><br />
    <%= f.text_field :fuel %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @auto_option %> |
<%= link_to 'Back', auto_options_path %>