<p>
  <b>Auto:</b>
  <%=h @auto_option.auto %>
</p>

<p>
  <b>Period:</b>
  <%=h @auto_option.period %>
</p>

<p>
  <b>Transmission:</b>
  <%=h @auto_option.transmission %>
</p>

<p>
  <b>Gear:</b>
  <%=h @auto_option.gear %>
</p>

<p>
  <b>Fuel:</b>
  <%=h @auto_option.fuel %>
</p>


<%= link_to 'Edit', edit_auto_option_path(@auto_option) %> |
<%= link_to 'Back', auto_options_path %>