<p>
  <b>Server:</b>
  <%=h @receive_ftp.server %>
</p>

<p>
  <b>Path:</b>
  <%=h @receive_ftp.path %>
</p>

<p>
  <b>Login:</b>
  <%=h @receive_ftp.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @receive_ftp.password %>
</p>


<%= link_to 'Edit', edit_receive_ftp_path(@receive_ftp) %> |
<%= link_to 'Back', receive_ftps_path %>