<h1>Editing currency</h1>

<% semantic_form_for(@currency) do |f| %>
  <%= f.error_messages %>

  <p>
    Название валюты<br />
    <%= f.text_field :title %>
  </p>
  <p>
    Ключ 1С<br />
    <%= f.text_field :foreign_id %>
    Этот параметр менять нельзя
  </p>
  <p>
    Руб за 1 уе<br />
    <%= f.text_field :value %>
  </p>
  <p>
    Дельта в %<br />
    <%= f.text_field :percent %>
  </p>

  <p>
    Родительская валюта<br />
    <%= f.input :parent %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @currency %> |
<%= link_to 'Back', currencies_path %>
