<%
   case params[:action]
       when 'new', 'create'
       url = supplier_jobs_path(params[:supplier_id], :job_id => params[:job_id])
       when 'edit', 'update'
       url = supplier_job_path(params[:supplier_id], params[:id], :job_id => params[:job_id])
   end
%>

<% semantic_form_for(@job, :url => url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :supplier %><br />
    <%= f.inputs :supplier %>
  </p>
  <p>
    <%= f.label :next_start %><br />
    <%= f.datetime_select :next_start %>
  </p>
  <p>
    <%= f.label :last_start %><br />
    <%= f.datetime_select :last_start %>
  </p>
  <p>
    <%= f.label :seconds_between_jobs %><br />
    <%= f.text_field :seconds_between_jobs %>
  </p>
    86400 - сутки<br>
    129600 - 1,5 суток<br>
    172800 - 2 суток<br>
    259200 - 3 суток<br>
    345600 - 4 суток<br>
  <p>
    <%= f.label :seconds_working %><br />
    <%= f.text_field :seconds_working %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <% debugger %>
    <%= f.input :parent, :collection => Job.find(:all, :conditions => {:supplier_id => params[:supplier_id]}).map{|job| [job.id.to_s + " " + job.title.to_s, job.id.to_s]} %>
  </p>

    <!--
  <p>
    <%= f.label :jobable %><br />
    <%= f.text_field :jobable %>
  </p>
    -->

  <p>
    <%= f.label :description %><br />
    <%= f.input :description %>
  </p>

  <p>
    <%= f.label :repeats %><br />
    <input type="hidden" name="job[repeat_ids][]" value="">
    <%= f.input :repeats %>
  </p>
  <p>
    <%= f.label :file_mask %><br />
    <%= f.text_field :file_mask %><br />
    Внимание, если ваш адрес похож на http://xn--d1abbgf6aiiy.xn--p1ai/%D0%B2%D1%8B%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F, то воспользуйтесь сначала <%= link_to "функцией трансляции", {:controller => 'uri_decoder'}, :target => "_blank" %>, чтобы в конце концов он выглядел как http://президент.рф/документы/9894 про президент.рф я погорячился. Необходимо http://xn--d1abbgf6aiiy.xn--p1ai/документы/9894
  </p>
  <pre>
  "^sklad" + Time.zone.now.strftime('%d%m%y') + ".xls$"
  Если имя файла содержит какую-то динамику, то пишем на Ruby выражение, например это будет соответствовать sklad150211.xls (на день написания примера)
  </pre>
  <br/>
  <p>
    <%= f.label :locked %><br />
    <%= f.check_box :locked %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.buttons %>
  </p>
<% end %>
