<h1>Editing job</h1>
<% #todo так делать не надо, хочу красиво %>
    <% semantic_form_for([Supplier.find(params[:supplier_id]), @job]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :next_start %><br />
    <%= f.datetime_select :next_start %>
  </p>
  <p>
    <%= f.label :last_start %><br />
    <%= f.datetime_select :last_start %>
  </p>
  <p>
    <%= f.label :seconds_between_jobs %><br />
    <%= f.text_field :seconds_between_jobs %>
  </p>
  <p>
    <%= f.label :seconds_working %><br />
    <%= f.text_field :seconds_working %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.input :parent, :collection => Job.find(:all, :conditions => {:supplier_id => @job.supplier_id}) %>    
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.input :description %>
  </p>    

  <p>
    <%= f.label :repeats %><br />
    <%= f.input :repeats %>
  </p>
  <p>
    <%= f.label :job_code %><br />
    <%= f.text_field :job_code %>
  </p>
  <p>
    <%= f.label :file_mask %><br />
    <%= f.text_field :file_mask %>
  </p>
  <p>
    <%= f.label :locked %><br />
    <%= f.check_box :locked %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', supplier_jobs_path(@job.supplier) %>