<h1>Editing job</h1>

<% semantic_form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :next_start %><br />
    <%= f.datetime_select :next_start %>
  </p>
  <p>
    <%= f.label :last_start %><br />
    <%= f.datetime_select :last_start %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.input :repeats %>
  </p>
  <p>
    <%= f.input :child %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>