<% supplier = Supplier.find(params[:supplier_id]) %>
<h1>Listing jobs for <em><%= link_to(supplier.title, supplier_jobs_path) %></em></h1>

<% if @jobs.size > 0 %>
    
    <table>
      <tr>
        <th>Next start</th>
        <th>Last start</th>
        <th>Last finish</th>
        <th>Seconds between jobs</th>
        <th>Seconds working</th>
        <th>Title</th>
        <th>Repeats</th>
        <th>Jobable</th>
        <th>File mask</th>
        <th>Locked</th>
        <th>Active</th>
        <th>Critical</th>
        <th>Critical tree</th>
        <th></th>
      </tr>

    <% @jobs.each do |job| %>
      <tr>
        <td><%=h job.next_start %></td>
        <td><%=h job.last_start %></td>
        <td><%=h job.last_finish %></td>
        <td><%=h job.seconds_between_jobs %></td>
        <td><%=h job.seconds_working %></td>
        <td><%=h link_to job.title, supplier_job_path(job.supplier, job) %></td>
        <td><%=h job.repeats.collect(&:title).join(",") %></td>
        <td>
            <%= link_to("Получение", new_supplier_job_receive_job_path(job.supplier, job)) %> <br />
            <%= link_to("Распаковка", new_supplier_job_unpack_job_path(job.supplier, job)) %> <br />
            <%= link_to("Конвертирование", new_supplier_job_convert_job_path(job.supplier, job)) %> <br />
            <%= link_to("Фильтрация", new_supplier_job_filter_job_path(job.supplier, job)) %> <br />
            <%= link_to("Импортирование", new_supplier_job_import_job_path(job.supplier, job)) %> <br />
          <% if job.jobable.present? %>          
            <%= link_to("<br/>Настройки #{job.jobable.class.to_s}", edit_polymorphic_path([job.supplier, job, job.jobable])) %>
          <% end %>
        </td>
        <td><%=h job.file_mask %></td>

        <td>
        <% if(job.locked) %>
            <div style='background: yellow'>
        <% else %>
            <div>
        <% end %>

        <%=h job.locked %>

        </div>
        </td>
        
        <td><%=h job.active %></td>
        <td><%= job.critical %></td>
        <td><%= job.critical_tree %></td>
        <td>
          <%= link_to 'Edit', edit_supplier_job_path(job.supplier, job) %> <br />
            <%= link_to 'Destroy', supplier_job_path(job.supplier, job), :confirm => 'Are you sure?', :method => :delete %> <br />
            <%= link_to 'Start', start_supplier_job_path(job.supplier, job) %><br />
            <%= link_to 'Force Start', start_supplier_job_path(job.supplier, job, :force => true) %>
        </td>
      </tr>
    <% end %>
    </table>

    <br />
<% end %>

<%= link_to 'New job', new_supplier_job_path({:job_id => params[:id]}) %>
