<% if params[:action] == 'display_jobs' %>
  <p>
  <a href="display_jobs?job_type=ReceiveJob"%>Задачи приема</a> |
  <a href="display_jobs?job_type=ConvertJob"%>Задачи конвертирования</a> |
  <a href="display_jobs?job_type=FilterJob"%>Задачи фильтрации</a> |
  <a href="display_jobs?job_type=ImportJob"%>Задачи импорта</a> |
  <a href="display_jobs?job_type=ReplaceJob"%>Задачи загрузки замен</a>
  </p>
  <br />
<% else %>
  <%= job_path %>
<% end %>

<% if @jobs.size > 0 %>
    
    <%= will_paginate @jobs %>
    <br />

    <table>
      <tr>
        <th>Next start</th>
        <th>Last start</th>
        <th>Last finish</th>
        <th>Seconds between jobs</th>
        <th>Seconds working</th>
        <th>Title</th>
        <th>Repeats</th>
        <th>Description</th>
        <th>Jobable</th>
        <th>File mask</th>
        <th>Locked</th>
        <th>Active</th>
        <th>Critical</th>
        <th>Critical tree</th>
        <th>Last Error</th>
        <th></th>
      </tr>

    <% @jobs.each do |job| %>
      <tr>
        <td><%=h job.next_start %></td>
        <td><%=h job.last_start %></td>
        <td><%=h job.last_finish %></td>
        <td><%=h job.seconds_between_jobs %></td>
        <td><%=h job.seconds_working %></td>
        <td><%=h link_to job.id.to_s + " - " + job.title, supplier_job_path(job.supplier, job) %></td>
        <td><%=h job.repeats.collect(&:title).join(",") %></td>
	<td><%=h job.description.mb_chars[0..100] %></td>
        <td>
            <%= link_to("Получение", new_supplier_job_receive_job_path(job.supplier, job)) %> <br />
            <%= link_to("Распаковка", new_supplier_job_unpack_job_path(job.supplier, job)) %> <br />
            <%= link_to("Конвертирование", new_supplier_job_convert_job_path(job.supplier, job)) %> <br />
            <%= link_to("Фильтрация", new_supplier_job_filter_job_path(job.supplier, job)) %> <br />
            <%= link_to("Импортирование", new_supplier_job_import_job_path(job.supplier, job)) %> <br />
            <%= link_to("Замены", new_supplier_job_replace_job_path(job.supplier, job)) %> <br />
          <% if job.jobable.present? %>          
            <br />
            <%= link_to("Настройки #{job.jobable.class.to_s}", edit_polymorphic_path([job.supplier, job, job.jobable])) %>
          <% end %>
        </td>
        <td><%=h job.file_mask %></td>

        <td>
        <% if(job.locked) %>
            <div style='background: yellow'>
        <% else %>
            <div>
        <% end %>

        <%=h job.locked %>

        </div>
        </td>
        
        <td><%=h job.active %></td>
        <td><%= job.critical.html_safe %></td>
        <td><%= critical_tree(job).join.html_safe %></td>
        <td><%= job.last_error %></td>
        
        <td>
          <%= link_to 'Edit', edit_supplier_job_path(job.supplier, job) %> <br />
          <%= link_to 'Destroy', supplier_job_path(job.supplier, job), :confirm => 'Are you sure?', :method => :delete, :remote => true %> <br />
          <%= link_to 'Copy', copy_supplier_job_path(job.supplier, job), :confirm => 'Are you sure?', :method => :copy %> <br /><br />
          <%= link_to 'Start', start_supplier_job_path(job.supplier, job), :remote => true %><br />
          <%= link_to(raw('Force&nbsp;Start'), start_supplier_job_path(job.supplier, job, :force => true), :remote => true) %>
          <%= link_to(raw('Flush&nbsp;Last&nbsp;Error'), flush_last_error_supplier_job_path(job.supplier, job), :remote => true) %><br />
        </td>
      </tr>
    <% end %>
    </table>

    <br />
    <%= will_paginate @jobs %>
<% end %>

<% if params[:supplier_id] %>
  <%= link_to 'Создать новую задачу', new_supplier_job_path({:job_id => params[:id]}) %>
<% end %>
<br /> <br />
<% if params[:action] == "index" %>
  <br />
  <% PriceSetting.where(:supplier_id => params[:supplier_id]).order(:title).each do |ps| %>
    <%= link_to ps.title, supplier_price_setting_path(params[:supplier_id], ps.id) %>
    <%= link_to("Очистить", clean_supplier_price_setting_path(params[:supplier_id], ps.id), :method => :clean, :confirm => "Вы уверены, что хотите очистить прайс?")  %>
    <%= link_to("Скачать", download_supplier_price_setting_path(params[:supplier_id], ps.id))  %>
    <%= link_to("Копировать", copy_supplier_price_setting_path(params[:supplier_id], ps.id), :method => :copy)  %>
    <br />
  <% end %>
  <br />
  <%= link_to "Создать новый прайс", new_supplier_price_setting_path(params[:supplier_id]) %>
<% end %>
