<% supplier = Supplier.find(params[:supplier_id]) %>
<h1>Listing jobs for <em><%= link_to(supplier.title, supplier) %></em> <%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></h1>

<table>
  <tr>
    <th>Next start</th>
    <th>Last start</th>
    <th>Last finish</th>
    <th>Seconds between jobs</th>
    <th>Seconds working</th>
    <th>Title</th>
    <th>Repeats</th>
    <th>Parent</th>
    <th>Jobable</th>
    <th>File mask</th>
    <th>Locked</th>
    <th>Active</th>
    <th>Critical</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%=h job.next_start %></td>
    <td><%=h job.last_start %></td>
    <td><%=h job.last_finish %></td>
    <td><%=h job.seconds_between_jobs %></td>
    <td><%=h job.seconds_working %></td>
    <td><%=h job.title %></td>
    <td><%=h job.repeats.map{ |repeat| repeat.title + ", "} %></td>
    <td>
    <%=
       begin
           job.parent.title
       rescue NoMethodError
       end
    %>
    </td>    
    <td><%= if job.jobable.blank?
                link_to("Получение", new_job_receive_job_path(job)) + " " +
                link_to("Распаковка", new_job_unpack_job_path(job)) + " " +
                link_to("Конвертирование", new_job_convert_job_path(job)) + " " +
                link_to("Импорт", new_job_import_job_path(job))
            else
                link_to("Конкретная задача", edit_polymorphic_path(job.jobable))
            end
    %></td>
    <td><%=h job.file_mask %></td>
    <td><%=h job.locked %></td>
    <td><%=h job.active %></td>
    <td><%= job.critical %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Start', start_job_path(job) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_supplier_job_path %>