<h1>New job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :next_start %><br />
    <%= f.datetime_select :next_start %>
  </p>
  <p>
    <%= f.label :last_start %><br />
    <%= f.datetime_select :last_start %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :repeats %><br />
    <%= f.text_field :repeats %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>