<p>
  <b>Next start:</b>
  <%=h @job.next_start %>
</p>

<p>
  <b>Last start:</b>
  <%=h @job.last_start %>
</p>

<p>
  <b>Last finish:</b>
  <%=h @job.last_finish %>
</p>

<p>
  <b>Seconds between jobs:</b>
  <%=h @job.seconds_between_jobs %>
</p>

<p>
  <b>Seconds working:</b>
  <%=h @job.seconds_working %>
</p>

<p>
  <b>Title:</b>
  <%=h @job.title %>
</p>

<p>
  <b>arent:</b>
  <%=h @job.parent %>
</p>

<p>
  <b>Jobable:</b>
  <%=h @job.jobable %>
</p>

<p>
  <b>Supplier:</b>
  <%=h @job.supplier %>
</p>

<p>
  <b>File mask:</b>
  <%=h @job.file_mask %>
</p>

<p>
  <b>Locked:</b>
  <%=h @job.locked %>
</p>

<p>
  <b>Active:</b>
  <%=h @job.active %>
</p>

<p><%= if @job.jobable.blank?
            link_to("Получение", new_job_receive_job_path(@job)) + " " +
            link_to("Импорт", new_job_import_job_path(@job))
        else
            link_to("Конкретная задача", edit_polymorphic_path(@job.jobable))
        end
%></p>

<p>
  <%= link_to 'Start', start_supplier_job_path(params[:supplier_id], @job) %>
</p>

<p>
  <b>Attachments:</b>
  <% SupplierPrice.all(:order => 'id DESC', :conditions => {:job_id => @job.id}).each do |sp| %>
    <%= "<br />" + link_to(sp.attachment_file_name, supplier_price_path(sp.id)) + " " + sp.attachment_updated_at.to_s %>
    <%= link_to 'Destroy', sp, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>


<%= link_to 'Edit', edit_supplier_job_path(params[:supplier_id], @job) %> |
<%= link_to 'Back', supplier_jobs_path(@job.supplier) %>