<%
scope = Job
scope = scope.scoped :conditions => {:job_id => params['id']} if params['id']
scope = scope.scoped :conditions => {:supplier_id => params['supplier_id']} if params['supplier_id']
@jobs = scope.paginate :include => :supplier,
                     :page => params[:page],
                     :order => 'created_at DESC'
%>

<%= render :file => 'jobs/index.html.erb' if @jobs.size > 0 %>

<p>
  <b>Next start:</b>
  <%=h @job.next_start %>
</p>

<p>
  <b>Last start:</b>
  <%=h @job.last_start %>
</p>

<p>
  <b>Last finish:</b>
  <%=h @job.last_finish %>
</p>

<p>
  <b>Seconds between jobs:</b>
  <%=h @job.seconds_between_jobs %>
</p>

<p>
  <b>Seconds working:</b>
  <%=h @job.seconds_working %>
</p>

<p>
  <b>Title:</b>
  <%=h @job.title %>
</p>

<p>
  <b>Repeats:</b>
  <%=h @job.repeats.collect(&:title).join(",") %>
</p>

<p>
  <b>Parent:</b>
  <% if @job.parent.present? %>
    <%=h link_to @job.parent.try(:title), supplier_job_path(@job.supplier, @job.parent) %>
  <% else %>
    <%=h link_to "Список задач приема", supplier_jobs_path(@job.supplier) %>

  <% end %>
</p>

<p>
  <b>Jobable:</b>
  <%= link_to("Конкретная задача", edit_polymorphic_path([@job.supplier, @job, @job.jobable])) %>
</p>

<p>
  <b>File mask:</b>
  <%=h @job.file_mask %>
</p>

<p>
  <b>Locked:</b>
  <%=h @job.locked %>
</p>

<p>
  <b>Active:</b>
  <%=h @job.active %>
</p>

<p>
  <%= link_to 'Start', start_supplier_job_path(params[:supplier_id], @job) %> | <%= link_to 'Force Start', start_supplier_job_path(@job.supplier, @job, :force => true) %>
</p>

<p>
  <b>Attachments:</b>
  <% SupplierPrice.all(:order => 'id DESC', :conditions => {:job_id => @job.id}).each do |sp| %>
    <%= "<br />" + link_to(sp.attachment_file_name, supplier_price_path(sp.id)) + " " + sp.attachment_updated_at.to_s %>
    <%= link_to 'Destroy', sp, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>


<%= link_to 'Edit', edit_supplier_job_path(params[:supplier_id], @job) %> |
<%= link_to 'Back', supplier_jobs_path(@job.supplier) %>