<p>
  <b>Next start:</b>
  <%=h @job.next_start %>
</p>

<p>
  <b>Last start:</b>
  <%=h @job.last_start %>
</p>

<p>
  <b>Title:</b>
  <%=h @job.title %>
</p>

<p>
  <b>Repeats:</b>
  <%=h @job.repeats.map{ |repeat| repeat.title + "," } %>
</p>

<p>
  <b>Parent Job:</b>
  <%=h @job.parent.try(:title) %>
</p>


<%= link_to 'Edit', edit_supplier_job_path(@job.supplier) %> |
<%= link_to 'Back', supplier_jobs_path(@job.supplier) %>