<h1>Editing receive</h1>

<% form_for(@receive) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :receiveable %><br />
    <%= f.text_field :receiveable %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @receive %> |
<%= link_to 'Back', receives_path %>