<h1>Listing receives</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Receiveable</th>
  </tr>

<% @receives.each do |receive| %>
  <tr>
    <td><%=h receive.price %></td>
    <td><%=h receive.receiveable %></td>
    <td><%= link_to 'Show', receive %></td>
    <td><%= link_to 'Edit', edit_receive_path(receive) %></td>
    <td><%= link_to 'Destroy', receive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New receive', new_receive_path %>
