<p>
  <b>First:</b>
  <%=h @column_filter.first %>
</p>

<p>
  <b>Second:</b>
  <%=h @column_filter.second %>
</p>

<p>
  <b>Third:</b>
  <%=h @column_filter.third %>
</p>

<p>
  <b>Fourth:</b>
  <%=h @column_filter.fourth %>
</p>

<p>
  <b>Fifth:</b>
  <%=h @column_filter.fifth %>
</p>

<p>
  <b>Sixth:</b>
  <%=h @column_filter.sixth %>
</p>

<p>
  <b>Seventh:</b>
  <%=h @column_filter.seventh %>
</p>

<p>
  <b>Eighth:</b>
  <%=h @column_filter.eighth %>
</p>

<p>
  <b>Ninth:</b>
  <%=h @column_filter.ninth %>
</p>

<p>
  <b>Tenth:</b>
  <%=h @column_filter.tenth %>
</p>


<%= link_to 'Edit', edit_column_filter_path(@column_filter) %> |
<%= link_to 'Back', column_filters_path %>