<h1>Editing repeat</h1>

<% form_for(@repeat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :minute %><br />
    <%= f.text_field :minute %>
  </p>
  <p>
    <%= f.label :hour %><br />
    <%= f.text_field :hour %>
  </p>
  <p>
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </p>
  <p>
    <%= f.label :month %><br />
    <%= f.text_field :month %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :weekday %><br />
    <%= f.text_field :weekday %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @repeat %> |
<%= link_to 'Back', repeats_path %>