<h1>Listing repeats</h1>

<table>
  <tr>
    <th>Minute</th>
    <th>Hour</th>
    <th>Day</th>
    <th>Month</th>
    <th>Year</th>
    <th>Weekday</th>
    <th>Active</th>
    <th>Description</th>
  </tr>

<% @repeats.each do |repeat| %>
  <tr>
    <td><%=h repeat.minute %></td>
    <td><%=h repeat.hour %></td>
    <td><%=h repeat.day %></td>
    <td><%=h repeat.month %></td>
    <td><%=h repeat.year %></td>
    <td><%=h repeat.weekday %></td>
    <td><%=h repeat.active %></td>
    <td><%=h repeat.description %></td>
    <td><%= link_to 'Show', repeat %></td>
    <td><%= link_to 'Edit', edit_repeat_path(repeat) %></td>
    <td><%= link_to 'Destroy', repeat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New repeat', new_repeat_path %>