<h1>Listing repeats</h1>

<table>
  <tr>
    <th>Cron string</th>
    <th>Title</th>
    <th>Active</th>
  </tr>

<% @repeats.each do |repeat| %>
  <tr>
    <td><%=h repeat.cron_string %></td>
    <td><%=h repeat.title %></td>
    <td><%= link_to 'Show', repeat %></td>
    <td><%= link_to 'Edit', edit_repeat_path(repeat) %></td>
    <td><%= link_to 'Destroy', repeat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @repeats %>


<%= link_to 'New repeat', new_repeat_path %>
