<h1>New repeat</h1>

<% form_for(@repeat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cron_string %><br />
    <%= f.text_field :cron_string %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<pre>
Cron string	Title	Active
0 */1 * * *	Каждые четыре часа	Show	Edit	Destroy
*/15 * * * *	Каждые 15 минут	Show	Edit	Destroy
0 11 * * *	В 11 часов	Show	Edit	Destroy
0 */1 * * *	Каждый Час	Show	Edit	Destroy
15 6 * * *	В 06:15 каждого дня	Show	Edit	Destroy
*/4 * * * *	каждые 4 минуты	Show	Edit	Destroy
0 */1 * * *	Каждый Час	Show	Edit	Destroy
</pre>


<%= link_to 'Back', repeats_path %>
