<p>
  <b>Cron string:</b>
  <%=h @repeat.cron_string %>
</p>

<p>
  <b>Active:</b>
  <%=h @repeat.active %>
</p>

<p>
  <b>Title:</b>
  <%=h @repeat.title %>
</p>


<%= link_to 'Edit', edit_repeat_path(@repeat) %> |
<%= link_to 'Back', repeats_path %>