<p>
  <b>Price file name:</b>
  <%=h @attachment.attachment_file_name %>
</p>

<p>
  <b>attachment content type:</b>
  <%=h @attachment.attachment_content_type %>
</p>

<p>
  <b>attachment file size:</b>
  <%=h @attachment.attachment_file_size %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>