<h1>Listing attachments</h1>

<table>
  <tr>
    <th>attachment file name</th>
    <th>attachment content type</th>
    <th>attachment file size</th>
    <th>attachment job code</th>
    <th>job</th>
    <th>supplier</th>
    <th>created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%=h attachment.attachment_file_name %></td>
    <td><%=h attachment.attachment_content_type %></td>
    <td><%=h attachment.attachment_file_size %></td>
    <td><%=h attachment.job_code %></td>
    <td><%=h attachment.created_at %></td>
    <td><%= link_to 'Задача', supplier_job_path(attachment.supplier_id, attachment.job_id) %></td>
    <td><%= link_to Supplier.find(attachment.supplier_id).title, supplier_jobs_path(attachment.supplier_id) %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Edit', edit_supplier_price_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attachment', new_supplier_price_path %>