<h1>Listing receive_jobs</h1>

<table>

<% @receive_jobs.each do |receive_job| %>
  <tr>
    <td><%=h receive_job.job.try(:title) %></td>
    <td><%=h receive_job.receiveable %></td>
    <td><%= link_to 'Show', receive_job %></td>
    <td><%= link_to 'Edit', edit_receive_job_path(receive_job) %></td>
    <td><%= link_to 'Destroy', receive_job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New receive_job', new_receive_job_path %>