<h1>New receive_job for job <em><%=h Job.find(params[:job_id]).try(:title) %></em> of supplier <em><%= Job.find(params[:job_id]).supplier.title %></em></h1>

<p>
<%= link_to "Получение через ftp", new_job_ftp_receive_path(@receive_job.job) %><br />
<%= link_to "Получение через samba", new_job_smb_receive_path(@receive_job.job) %><br />
<%= link_to "Получение через email", new_job_email_receive_path(@receive_job.job) %><br />
<%= link_to "Получение через локальную папку", new_job_folder_receive_path(@receive_job.job) %><br />
</p>

<% semantic_form_for(@receive_job, :url => job_receive_jobs_path(params[:job_id])) do |f| %>
    <%=
        collection_select(:receive_job, :receiveable_id, ReceiveJob.all(:include => :job, :conditions => {:jobs => {:supplier_id => Job.find(params[:job_id]).supplier.id}}), :id, :identify_string, :prompt => true)        
    %>
    <%= f.submit 'Привязать' %>

<% end %>

<%= link_to 'Back', supplier_jobs_path(Job.find(params[:job_id]).supplier) %>