<% @receive_job.receiveable.attributes.each do |attr, val| %>
    <p><%= attr.humanize %>: <%= val %></p>
<% end %>

<%= link_to "Перейти к настройкам", polymorphic_url(@receive_job.receiveable) %>


<%= link_to 'Edit', edit_receive_job_path(@receive_job) %> |
<%= link_to 'Back', receive_jobs_path %>