<h1>New analogue</h1>

<% form_for(@analogue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :original_id %><br />
    <%= f.text_field :original_id %>
  </p>
  <p>
    <%= f.label :analogue_id %><br />
    <%= f.text_field :analogue_id %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', analogues_path %>