<p>
  <b>Original:</b>
  <%=h @analogue.original_id %>
</p>

<p>
  <b>Analogue:</b>
  <%=h @analogue.analogue_id %>
</p>

<p>
  <b>Note:</b>
  <%=h @analogue.note %>
</p>


<%= link_to 'Edit', edit_analogue_path(@analogue) %> |
<%= link_to 'Back', analogues_path %>