<h1>Listing folder_settings</h1>

<table>
  <tr>
    <th>Path</th>
  </tr>

<% @folder_settings.each do |folder_setting| %>
  <tr>
    <td><%=h folder_setting.path %></td>
    <td><%= link_to 'Show', folder_setting %></td>
    <td><%= link_to 'Edit', edit_folder_setting_path(folder_setting) %></td>
    <td><%= link_to 'Destroy', folder_setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New folder_setting', new_folder_setting_path %>