<h1>New receive_folder</h1>

<% semantic_form_for(:folder_receive, :url => job_folder_receives_path(params[:job_id])) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', supplier_jobs_path(Job.find(params[:job_id]).supplier) %>