<h1>Listing delivery_types</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @delivery_types.each do |delivery_type| %>
  <tr>
    <td><%=h delivery_type.title %></td>
    <td><%= link_to 'Show', delivery_type %></td>
    <td><%= link_to 'Edit', edit_delivery_type_path(delivery_type) %></td>
    <td><%= link_to 'Destroy', delivery_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New delivery_type', new_delivery_type_path %>