<% semantic_form_for(@ftp_receive, :url => {:action => :update}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :server %><br />
    <%= f.text_field :server %>
  </p>
  <p>
    <%= f.label :port %><br />
    <%= f.text_field :port %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.buttons %>
  </p>
<% end %>