<h1>Listing receive_ftps</h1>

<table>
  <tr>
    <th>Server</th>
    <th>Path</th>
    <th>Login</th>
    <th>Password</th>
  </tr>

<% @ftp_receives.each do |ftp_receive| %>
  <tr>
    <td><%=h ftp_receive.server %></td>
    <td><%=h ftp_receive.path %></td>
    <td><%=h ftp_receive.login %></td>
    <td><%=h ftp_receive.password %></td>
    <td><%= link_to 'Show', ftp_receive %></td>
    <td><%= link_to 'Edit', edit_ftp_receive_path(ftp_receive) %></td>
    <td><%= link_to 'Destroy', ftp_receive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ftp_receive', new_ftp_receive_path %>