<%= f.error_messages %>
<br />
<p>
  <%= f.label :import_method %>
  <%= f.enum_select :import_method %>
</p>
<br />

  <%= f.inputs :currency_buy %>
  <%= f.inputs :currency_sell %>
  <%= f.inputs :currency_weight %>

  <%= f.input :presence %>
  <%= f.input :visible_for_site %>
  <%= f.input :visible_for_stock %>
  <%= f.input :visible_for_shops %>
  <hr />
  <%= f.input :delivery_days_declared %>
  Заявленное количество дней
  <hr />
  <%= f.input :retail_rate %>
  Розничный коэффициент
  <hr />
  <%= f.input :country, :as => :string %>
    Местонахождение поставщика (город, округ, область)
  <hr />
  <%= f.input :country_short %>
    То же самое, только коротко
  <hr />
  <%= f.input :delivery_summary %>
    Полезная информация для покупателей о заказе (отсутствие возвратов и т.д.)
  <hr />
   <%= f.input :income_rate %>
   Коэффициент, на который будет умножаться цена в прайсе (т.е. цена прихода)
   <hr />

   <%= f.input :kilo_price %>
  <%= f.input :weight_unavaliable_rate %>
  <%= f.input :manufacturer_colnum %>
  <hr />
  <%= f.input :catalog_number_colnum %>
  Каталожный номер детали
  <hr />
  <%= f.input :title_colnum %>
  <%= f.input :count_colnum %>
  <%= f.input :weight_colnum %>
  <hr />
  <%= f.input :income_price_colnum %>
  Цена детали
  <hr />
  <%= f.input :external_id_colnum %>
  Внешний номер
  <hr />
  <%= f.input :default_manufacturer %>
  Производитель по-умолчанию (если не указан столбец производителя)
  <hr />
  <%= f.input :applicability_colnum %>
  Применимость (куда, для какой машины, двигателя, и т.д. где можно использовать)
  <hr />
  <%= f.input :unit_colnum %>
  Единица измерения
  <hr />
  <%= f.input :description_colnum %>
  Описание наименования
  <hr />
  <%= f.input :min_order_colnum %>
  Минимальное кол-во для заказа
  <hr />
  <%= f.input :multiply_factor_colnum %>
  Кратность для заказа
  <hr />
  <%= f.input :unit_package_colnum %>
  Штук в упаковке
  <hr />
  <%= f.input :country_colnum %>
  Страна изготовитель запчасти
  <hr />
  <%= f.input :title_en_colnum %>
  Название детали на английском яз.
  <hr />

<%= f.submit 'Update' %>
