<%= f.error_messages %>
<br />
<p>
  <%= f.label :import_method %>
  <%= f.enum_select :import_method %>
</p>
<br />

  <%= f.inputs :currency_buy %>
  <%= f.inputs :currency_sell %>
  <%= f.inputs :currency_weight %>

  <%= f.inputs :presence %>
  <%= f.inputs :visible_for_site %>
  <%= f.inputs :visible_for_stock %>
  <%= f.inputs :visible_for_shops %>
  <hr />
  <%= f.inputs :estimate_days %>
  Ожидаемое количество дней
  <hr />
  <%= f.inputs :retail_rate %>
  Розничный коэффициент
  <hr />

   <%= f.inputs :income_rate %>
   Коэффициент, на который будет умножаться цена в прайсе (т.е. цена прихода)
   <hr />

   <%= f.inputs :kilo_price %>
  <%= f.inputs :weight_unavaliable_rate %>
  <%= f.inputs :manufacturer_colnum %>
  <hr />
  <%= f.inputs :catalog_number_colnum %>
  Каталожный номер детали
  <hr />
  <%= f.inputs :title_colnum %>
  <%= f.inputs :count_colnum %>
  <%= f.inputs :weight_colnum %>
  <hr />
  <%= f.inputs :income_price_colnum %>
  Цена детали
  <hr />
  <%= f.inputs :external_id_colnum %>

<%= f.buttons %>
