<style>
  div {
    padding: 5px 0;
    margin: 5px 0;
  }

  #weight {
    background: #89A;
  }

  #parts_info {
    background: #AAD;
  }

  #title {
    background: #99D;
  }

  #visibility {
    background: #DDA;
  }

  #info {
    background: #EA9;
  }

  #price {
    background: #6D9;
  }

  #delivery_days {
    background: #8CA;
  }
  
  #image {
    background: #4AD;
  }

  #external {
    background: #CFA;
  }

  #pack {
    background: #DDA;
  }

</style>

  <%= f.error_messages %>
  <br />
  <p>
    <%= f.input :price_setting, :collection => PriceSetting.where(:supplier_id => params[:supplier_id]) %>
    </p>
  <br />
  <p>
    <%= f.label :import_method %>
    <%= f.enum_select :import_method %>
  </p>
  <br />

  <div id="presence">
    <%= f.input :count_colnum %>
    Колонка: количество. Может содержать 3, >10, =15 и т.д.
  </div>


  <div id="delivery_days">
    <%= f.input :delivery_days_declared_colnum %>
    Колонка: Заявленное количество дней
  </div>

  <div id="parts_info">
    <%= f.input :catalog_number_colnum %>
    Каталожный номер детали
    <hr />

    <%= f.input :manufacturer_colnum %>
    Колонка: Производитель
    <hr />

    <%= f.input :default_manufacturer %>
    Для всех. Производитель по-умолчанию. Например TOYOTA, TY, toyota
  </div>

  <div id="title">
    <%= f.input :title_colnum %>
    Колонка: Название детали на русском языке
    <hr />
    <%= f.input :title_en_colnum %>
    Колонка: Название детали на английском языке
  </div>

  <div id="price">
    <%= f.input :income_price_colnum %>
    Колонка: Цена детали. В качестве дробного разделителя может использоваться как точка, так и запятая. Пробелы (разделители разрядов), как и нули вначале, игнорируются
  </div>

  <div id="external">
    <%= f.input :external_id_colnum %>
    Внешний номер детали
    <hr />
    
    <%= f.input :external_supplier_id_colnum %>
    Внешний ID поставщика
  </div>
  
  <%= f.input :parts_group_colnum %>
  Группа автозапчастей (Не формализованный список. Используется колонка прайса, где часто повторяется одно и то же)
  <hr />

  <%= f.input :applicability_colnum %>
  Применимость (куда, для какой машины, двигателя, и т.д. где можно использовать)
  <hr />

  <%= f.input :description_colnum %>
  Описание наименования
  <hr />

  <div id="pack">
    <%= f.input :min_order_colnum %>
    Минимальное кол-во для заказа
    <hr />

    <%= f.input :multiply_factor_colnum %>
    Кратность для заказа
    <hr />

    <%= f.input :unit_package_colnum %>
    Штук в упаковке
    <hr />

    <%= f.input :unit_colnum %>
    Единица измерения
  </div>

  <%= f.input :country_colnum %>
  Страна изготовитель запчасти
  <hr />

  <div id="image">
    <%= f.input :image_url_colnum %>
    Колонка: Адрес картинки (в случае если не абсолютный, то необходимо добавить префикс)
    <hr />

    <%= f.input :image_url_prefix %>
    Префикс для приведения адреса картинки к абсолютному
  </div>

  <div id="weight">
    <%= f.input :weight_grams_colnum %>
    Колонка: Вес в граммах, если вес не в граммах, то указываем коэффициент ниже для перевода в граммы
    <hr />
    <%= f.input :weight_coefficient %>
    Коэффициент для перевода в граммы
  </div>

  <div class="field">
    <%= f.label :income_rate %>
    <%= f.text_field :income_rate %>
  </div>
<%= f.submit 'Update' %>
