<h1>Editing import_job</h1>

<% form_for(@import_job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @import_job %> |
<%= link_to 'Back', import_jobs_path %>