<h1>New import_job</h1>

<% semantic_form_for(@import_job, :url => supplier_job_unpack_jobs_path(params[:supplier_id], params[:job_id])) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :import_method %><br />
    <%= f.enum_select :import_method %>
  </p>
  <p>
    <%= f.label :encoding %><br />
    <%= f.enum_select :encoding %>
  </p>
  <p>
    <%= f.label :presence %><br />
    <%= f.check_box :presence %>
  </p>
  <p>
    <%= f.label :currency_buy %><br />
    <%= f.inputs :currency_buy %>
  </p>
  <p>
    <%= f.label :currency_sell %><br />
    <%= f.inputs :currency_sell %>
  </p>
  <p>
    <%= f.label :currency_weight %><br />
    <%= f.inputs :currency_weight %>
  </p>
  <p>
    <%= f.label :delivery_type %><br />
    <%= f.inputs :delivery_type %>
  </p>
  <p>
    <%= f.label :visible_for_site %><br />
    <%= f.check_box :visible_for_site %>
  </p>
  <p>
    <%= f.label :visible_for_stock %><br />
    <%= f.check_box :visible_for_stock %>
  </p>
  <p>
    <%= f.label :visible_for_shops %><br />
    <%= f.check_box :visible_for_shops %>
  </p>
  <p>
    <%= f.label :estimate_days %><br />
    <%= f.text_field :estimate_days %>
  </p>
  <p>
    <%= f.label :retail_rate %><br />
    <%= f.text_field :retail_rate %>
  </p>
  <p>
    <%= f.label :income_rate %><br />
    <%= f.text_field :income_rate %>
  </p>
  <p>
    <%= f.label :kilo_price %><br />
    <%= f.text_field :kilo_price %>
  </p>
  <p>
    <%= f.label :weight_unavaliable_rate %><br />
    <%= f.text_field :weight_unavaliable_rate %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', import_jobs_path %>
