<p>
  <b>Importable:</b>
  <%=h @import_job.importable %>
</p>

<p>
  <b>Import method:</b>
  <%=h @import_job.import_method %>
</p>

<p>
  <b>Encoding:</b>
  <%=h @import_job.encoding %>
</p>

<p>
  <b>Presence:</b>
  <%=h @import_job.presence %>
</p>

<p>
  <b>Currency buy:</b>
  <%=h @import_job.currency_buy %>
</p>

<p>
  <b>Currency sale:</b>
  <%=h @import_job.currency_sell %>
</p>

<p>
  <b>Currency weight:</b>
  <%=h @import_job.currency_weight %>
</p>

<p>
  <b>Delivery type:</b>
  <%=h @import_job.delivery_type %>
</p>

<p>
  <b>Visible for site:</b>
  <%=h @import_job.visible_for_site %>
</p>

<p>
  <b>Visible for stock:</b>
  <%=h @import_job.visible_for_stock %>
</p>

<p>
  <b>Visible for shops:</b>
  <%=h @import_job.visible_for_shops %>
</p>

<p>
  <b>Estimate days:</b>
  <%=h @import_job.estimate_days %>
</p>

<p>
  <b>Retail rate:</b>
  <%=h @import_job.retail_rate %>
</p>

<p>
  <b>Income rate:</b>
  <%=h @import_job.income_rate %>
</p>

<p>
  <b>Kilo price:</b>
  <%=h @import_job.kilo_price %>
</p>

<p>
  <b>Weight unavaliable rate:</b>
  <%=h @import_job.weight_unavaliable_rate %>
</p>


<%= link_to 'Edit', edit_import_job_path(@import_job) %> |
<%= link_to 'Back', import_jobs_path %>