<%
   case params[:action]
       when 'new'
        url = supplier_job_http_receives_path(params[:supplier_id], params[:job_id])
       when 'edit'
        url = supplier_job_http_receive_path(params[:supplier_id], params[:job_id], params[:id])
   end
%>

<% semantic_form_for(@http_receive, :url => url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :server %><br />
    <%= f.text_field :server %><br />
    Закрывающиеся и открывающиеся слеши отсутствуют, напр. www.fake.com, avtorif.ru и т.д.
  </p>
  <p>
    <%= f.label :port %><br />
    <%= f.text_field :port %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %><br />
    Обязательно наличие откр. и закр. слешей, /прайс/, /download/files/ и т.д.
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :ssl %><br />
    <%= f.text_field :ssl %>
  </p>
  <p>
    <%= f.label :need_to_escape %><br />
    <%= f.input :need_to_escape %><br />
    Надо ли экранировать путь? Если путь будет выглядеть как http://www.au-auto.ru/_documents/%D0%9F%D1%80%D0%B0%D0%B9%D1%81-%D0%BB%D0%B8%D1%81%D1%82%20%D0%A4%D0%B8%D0%BB%D1%8C%D1%82%D1%80%D1%8B%20MANN%20on-line%20%D0%90%D0%B2%D1%82%D0%BE%D0%B4%D0%B8%D0%BB%D0%B5%D1%80.rar, то нет, если например так http://www.au-auto.ru/прайсы/прайс_1.rar, то да
  </p>
  <p>
    <%= f.buttons %>
  </p>
<% end %>
