<h1>New http_receive</h1>

<% semantic_form_for(:http_receive, @http_receive, :url => supplier_job_http_receives_path(params[:supplier_id], params[:job_id])) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :server %><br />
    <%= f.text_field :server %>
  </p>
  <p>
    <%= f.label :port %><br />
    <%= f.text_field :port %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :ssl %><br />
    <%= f.text_field :ssl %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', http_receives_path %>
