<p id="notice"><%= notice %></p>

<p>
  <b>Rx colnum:</b>
  <%= @replace_job.rx_colnum %>
</p>

<p>
  <b>Rmx colnum:</b>
  <%= @replace_job.rmx_colnum %>
</p>

<p>
  <b>Rdmx:</b>
  <%= @replace_job.rdmx %>
</p>

<p>
  <b>Rdix:</b>
  <%= @replace_job.rdix %>
</p>

<p>
  <b>Rdex:</b>
  <%= @replace_job.rdex %>
</p>

<p>
  <b>Weight grams colnum:</b>
  <%= @replace_job.weight_grams_colnum %>
</p>

<p>
  <b>Weight coefficient:</b>
  <%= @replace_job.weight_coefficient %>
</p>

<p>
  <b>New catalog number colnum:</b>
  <%= @replace_job.new_catalog_number_colnum %>
</p>


<%= link_to 'Edit', edit_replace_job_path(@replace_job) %> |
<%= link_to 'Back', replace_jobs_path %>
