<%
  case params[:action]
    when 'new', 'create'
      url = supplier_price_settings_path(params[:supplier_id])
    when 'edit', 'update'
      url = supplier_price_setting_path(params[:supplier_id], params[:id])
  end
%>

<%= semantic_form_for(@price_setting, :url => url) do |f| %>
  <% if @price_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_setting.errors.count, "error") %> prohibited this price_setting from being saved:</h2>

      <ul>
      <% @price_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="field">
    <%= f.inputs :supplier %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.inputs :title %>
  </div>
  <div class="field">
    <%= f.label :currency_buy %><br />
    <%= f.inputs :currency_buy %>
  </div>
  <div class="field">
    <%= f.label :absolute_buy_rate %><br />
    <%= f.text_field :absolute_buy_rate %>
    Для всех. Динамический. Абсолютный коэффициент наценки.
  </div>
  <div class="field">
    <%= f.label :relative_buy_rate %><br />
    <%= f.text_field :relative_buy_rate %>
    Для всех. Динамический. Относительный коэффициент наценки.
  </div>
  <div class="field">
    <%= f.label :visible_for_site %><br />
    <%= f.check_box :visible_for_site %>
    Видим на сайте
  </div>
  <div class="field">
    <%= f.label :visible_for_stock %><br />
    <%= f.check_box :visible_for_stock %>
    Видим для складских заказов
  </div>
  <div class="field">
    <%= f.label :visible_for_shops %><br />
    <%= f.check_box :visible_for_shops %>
    Видим для магазинов
  </div>
  <div class="field">
    <%= f.label :retail_rate %><br />
    <%= f.text_field :retail_rate %>
    Для всех. Динамический. Розничный коэффициент
  </div>
  <div class="field">
    <%= f.label :kilo_price %><br />
    <%= f.text_field :kilo_price %>
    Стоимость килограмма
  </div>
  <div class="field">
    <%= f.label :currency_weight %><br />
    Валюта веса
    <%= f.inputs :currency_weight %>
  </div>
  <div class="field">
    <%= f.label :relative_weight_rate %><br />
    <%= f.text_field :relative_weight_rate %>
    Для всех. Динамический. Относительный коэффициент веса.
  </div>
  <div class="field">
    <%= f.label :absolute_weight_rate %><br />
    <%= f.text_field :absolute_weight_rate %>
    Для всех. Динамический. Абсолютный коэффициент веса.
  </div>
  <div class="field">
    <%= f.label :presence %><br />
    <%= f.check_box :presence %>
    Прайс наличия
  </div>
  <div class="field">
    <%= f.label :weight_unavailable_rate %><br />
    <%= f.text_field :weight_unavailable_rate %>
    Для всех. Динамический. В случае отсутствия веса в (1. Прайсе поставщика; 2. В общем каталоге) цена будет умножена на этот коэффициент
  </div>
  <div class="field">
    <%= f.label :delivery_days_declared %><br />
    <%= f.text_field :delivery_days_declared %>
    Заявленное количество дней
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
    Местонахождение поставщика (город, округ, область)
  </div>
  <div class="field">
    <%= f.label :country_short %><br />
    <%= f.text_field :country_short %>
    То же самое, только коротко
  </div>
  <div class="field">
    <%= f.label :delivery_summary %><br />
    <%= f.text_field :delivery_summary %>
    Полезная информация для покупателей о заказе (отсутствие возвратов и т.д.)
  </div>
  <div class="field">
    <%= f.label :success_percent %><br />
    <%= f.text_field :success_percent %>
    Вероятность наличия деталей у поставщика (планировалось, что это значение будет храниться у детали)
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
