<%
  case params[:action]
    when 'new', 'create'
      url = supplier_price_settings_path(params[:supplier_id])
    when 'edit', 'update'
      url = supplier_price_setting_path(params[:supplier_id], params[:id])
  end
%>

<%= semantic_form_for(@price_setting, :url => url) do |f| %>
  <% if @price_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_setting.errors.count, "error") %> prohibited this price_setting from being saved:</h2>

      <ul>
      <% @price_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.inputs :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
