<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @price_setting.title %>
</p>
<p>
  <b>Currency buy:</b>
  <%= @price_setting.currency_buy.title %>
</p>

<p>
  <b>Absolute buy rate:</b>
  <%= @price_setting.absolute_buy_rate %>
</p>

<p>
  <b>Relative buy rate:</b>
  <%= @price_setting.relative_buy_rate %>
</p>

<p>
  <b>Visible for site:</b>
  <%= @price_setting.visible_for_site %>
</p>

<p>
  <b>Visible for stock:</b>
  <%= @price_setting.visible_for_stock %>
</p>

<p>
  <b>Visible for shops:</b>
  <%= @price_setting.visible_for_shops %>
</p>

<p>
  <b>Retail rate:</b>
  <%= @price_setting.retail_rate %>
</p>

<p>
  <b>Relative buy rate:</b>
  <%= @price_setting.relative_buy_rate %>
</p>

<p>
  <b>Absolute buy rate:</b>
  <%= @price_setting.absolute_buy_rate %>
</p>
<p>
  <b>Kilo price:</b>
  <%= @price_setting.kilo_price %>
</p>

<p>
  <b>Currency weight:</b>
  <%= @price_setting.currency_weight.title %>
</p>

<p>
  <b>Relative weight rate:</b>
  <%= @price_setting.relative_weight_rate %>
</p>

<p>
  <b>Absolute weight rate:</b>
  <%= @price_setting.absolute_weight_rate %>
</p>

<p>
  <b>Presence:</b>
  <%= @price_setting.presence %>
</p>

<p>
  <b>Weight unavailable rate:</b>
  <%= @price_setting.weight_unavailable_rate %>
</p>

<p>
  <b>Delivery days declared:</b>
  <%= @price_setting.delivery_days_declared %>
</p>
<p> <b>Задачи импортирования задействованные в формировании прайса: </b>
<% debugger %>
  <% @price_setting.import_jobs.each do |import_job| %>
    <br />
    <% if import_job.jobs.present? %>
      <%= link_to import_job.jobs.first.id.to_s + " " + import_job.jobs.first.title, supplier_job_path(import_job.jobs.first.supplier, import_job.jobs.first)   %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Destroy', supplier_price_setting_path(@price_setting.supplier.id, @price_setting), :confirm => "Are you sure?", :method => :delete %> |
<%= link_to 'Edit', edit_supplier_price_setting_path(@price_setting.supplier.id, @price_setting) %> |
<%= link_to 'Back', supplier_price_settings_path %>
