<h1>Editing price</h1>

<% form_for(@price) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :supplier %><br />
    <%= f.text_field :supplier %>
  </p>
  <p>
    <%= f.label :margin %><br />
    <%= f.text_field :margin %>
  </p>
  <p>
    <%= f.label :original %><br />
    <%= f.check_box :original %>
  </p>
  <p>
    <%= f.label :file_mask %><br />
    <%= f.text_field :file_mask %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @price %> |
<%= link_to 'Back', prices_path %>