<h1>Listing prices</h1>

<table>
  <tr>
    <th>supplier</th>
    <th>job</th>
    <th>jobable</th>
    <th>success-percent</th>
    <th>catalog-number</th>
    <th>count</th>
    <th>created-at</th>
    <th>id</th>
    <th>price-cost</th>
    <th>income-cost</th>
    <th>retail-cost</th>
    <th>job-id</th>
    <th>manufacturer</th>
    <th>manufacturer-orig</th>
    <th>bit-original</th>
    <th>title</th>
    <th>title-en</th>
    <th>country</th>
    <th>updated-at</th>
    <th>e-Группа тождественности деталей</th>
    <th>e-Оригинальная?</th>
    <th>e-Новый номер детали</th>
    <th>e-Кратность заказа</th>
    <th>e-Группа деталей</th>
    <th>a-code weightKg</th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td>
      <% #debugger %>
      <%=h price['supplier_title'] %> <br />
      <%=h price['supplier_title_en'] %> <br />
      <%=h price['supplier_title_full'] %> <br />
    </td>
    <td><%=h price['job_title'] %></td>
    <td>
      (Вероятность наличия (по поставщику)) success_percent:     <%=h price['job_import_job_success_percent'] %><br /><br />
      (Дней в среднем по пост) delivery_days_average:      <%=h price['job_import_job_delivery_days_average'] %><br /><br />
      (Дней заявлено по пост) delivery_days_declared:      <%=h price['job_import_job_delivery_days_declared'] %><br /><br />
      (Иногда важная инф по доставке) delivery_summary      <%=h price['job_import_job_delivery_summary'] %><br /><br />
      (Наличие) presence: <%=h price['job_import_job_presence'] %><br /><br />
      (Цена килограмма) kilo_price:      <%=h price['job_import_job_kilo_price'] %><br /><br />
      (Местонахождение постащика) country:      <%=h price['job_import_job_country'] %><br /><br />
      (Короткое местонахождение)) country_short:      <%=h price['job_import_job_country_short'] %><br /><br />
    </td>
    <td><%=h price['success_percent'] %></td>
    <td><%=h price['catalog_number'] %></td>
    <td><%=h price['count'] %></td>
    <td><%=h price['created_at'] %></td>
    <td><%=h price['id'] %></td>
    <td><%=h price['price_cost'] %></td>
    <td><%=h price['income_cost'] %></td>
    <td><%=h price['retail_cost'] %></td>
    <td><%=h price['job_id'] %></td>
    <td><%=h price['manufacturer'] %></td>
    <td><%=h price['manufacturer_orig'] %></td>
    <td><%=h price['bit_original'] %></td>
    <td><%=h price['title'] %></td>
    <td><%=h price['title_en'] %></td>
    <td><%=h price['country'] %></td>
    <td><%=h price['updated_at'] %></td>
    <% begin %>
      <td><%=h price['make_synonym_group_id_emex'] %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price['bit_original_emex'] %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price['new_detail_num_emex'] %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price['lot_quantity_emex'] %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price['price_group_emex'] %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price['code_weight_kg_a4c'] %></td>
    <% rescue => e; end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New price', new_price_path %>
