<h1>Listing prices</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Supplier</th>
    <th>Margin</th>
    <th>Original</th>
    <th>File mask</th>
    <th>Receive</th>
    <th>Receive type</th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%=h price.code %></td>
    <td><%=h price.title %></td>
    <td><%=h price.supplier %></td>
    <td><%=h price.margin %></td>
    <td><%=h price.original %></td>
    <td><%=h price.file_mask %></td>
    <td><%=h price.receive_id %></td>
    <td><%=h price.receive_type %></td>
    <td><%= link_to 'Show', price %></td>
    <td><%= link_to 'Edit', edit_price_path(price) %></td>
    <td><%= link_to 'Destroy', price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New price', new_price_path %>