<h1>Listing prices</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Contractor</th>
    <th>Margin</th>
    <th>Original</th>
    <th>Username</th>
    <th>Password</th>
    <th>Filename</th>
    <th>Settings</th>
    <th>Settings type</th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%=h price.code %></td>
    <td><%=h price.name %></td>
    <td><%=h price.contractor %></td>
    <td><%=h price.margin %></td>
    <td><%=h price.original %></td>
    <td><%=h price.username %></td>
    <td><%=h price.password %></td>
    <td><%=h price.filename %></td>
    <td><%=h price.settings_id %></td>
    <td><%=h price.settings_type %></td>
    <td><%= link_to 'Show', price %></td>
    <td><%= link_to 'Edit', edit_price_path(price) %></td>
    <td><%= link_to 'Destroy', price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New price', new_price_path %>