<h1>Listing prices</h1>

<table>
  <tr>
    <th>supplier</th>
    <th>job</th>
    <th>jobable</th>
    <th>catalog-number</th>
    <th>count</th>
    <th>created-at</th>
    <th>goods-id</th>
    <th>id</th>
    <th>price-cost</th>
    <th>income-cost</th>
    <th>retail-cost</th>
    <th>job-id</th>
    <th>manufacturer</th>
    <th>manufacturer-short</th>
    <th>title</th>
    <th>title-en</th>
    <th>country</th>
    <th>updated-at</th>
    <th>e-Группа тождественности деталей</th>
    <th>e-Оригинальная?</th>
    <th>e-Новый номер детали</th>
    <th>e-Лого прайса</th>
    <th>e-Описание прайса</th>
    <th>e-На складе?</th>
    <th>e-Дата обн. цены</th>
    <th>e-Кратность заказа</th>
    <th>e-Количество</th>
    <th>e-Дата обн. кол-ва</th>
    <th>e-Количество которое прибудет на склад</th>
    <th>e-Дата прибытия на склад</th>
    <th>e-Лого способа доставки</th>
    <th>e-Описание способа доставки</th>
    <th>e-Средний срок доставки</th>
    <th>e-Гарантированный срок доставки</th>
    <th>e-% вовремя выполн. заказов</th>
    <th>e-% выполн. заказов по детали в прайсе</th>
    <th>e-% выполн. по производителю в прайсе</th>
    <th>e-Местонахождение поставщика</th>
    <th>e-Группа деталей</th>
    <th>e-% доставки</th>
    <th>a-from</th>
    <th>a-code weightKg</th>
    <th>a-code amount</th>
    <th>a-price</th>
    <th>a-price curr</th>
    <th>a-price plPrice</th>
    <th>a-price plCurr</th>
    <th>a-supplier</th>
    <th>a-supplier k</th>
    <th>a-supplier supplDays100</th>
    <th>a-supplier supplDays30</th>
    <th>a-supplier supplDate30</th>
    <th>a-supplier kgPrice</th>
    <th>a-supplier Delivery</th>
    <th>a-supplier RusName</th>
    <th>a-supplier info</th>
    <th>a-supplier successProc</th>
    <th>a-supplierInfo</th>
    <th>a-probability</th>
    <th>a-version</th>
    <th>a-weightPrice</th>
    <th>a-message</th>
    <th>a-whId</th>
    <th>a-weightInfo</th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%=h price.supplier %></td>
    <td><%=h price.job %></td>
    <td><%=h price.job.import_job.delivery_days %></td>
    <td><%=h price.catalog_number %></td>
    <td><%=h price.count %></td>
    <td><%=h price.created_at %></td>
    <td><%=h price.goods_id %></td>
    <td><%=h price.id %></td>
    <td><%=h price.price_cost %></td>
    <td><%=h price.income_cost %></td>
    <td><%=h price.retail_cost %></td>
    <td><%=h price.job_id %></td>
    <td><%=h price.manufacturer %></td>
    <td><%=h price.manufacturer_short %></td>
    <td><%=h price.title %></td>
    <td><%=h price.title_en %></td>
    <td><%=h price.country %></td>
    <td><%=h price.updated_at %></td>
    <% begin %>
      <td><%=h price.make_synonym_group_id_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.bit_original_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.new_detail_num_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_logo_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_desc_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_bit_storehouse_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.date_change_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.lot_quantity_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.quantity_text_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.quantity_change_date_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.arrivial_quantity_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.arrivial_date_plan_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.destination_logo_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.destination_desc_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.ad_days_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.deliver_time_guaranteed_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.dit_percent_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.dd_percent_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.md_percent_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_country_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_group_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.calc_delivery_percent_emex %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.from_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.code_weight_kg_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.code_amount_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_curr_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_pl_price_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.price_pl_curr_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_k_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_suppl_days100_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_suppl_days_30_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_date_30_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_kg_price_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_delivery_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_rus_name_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_info_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_success_proc_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.supplier_info_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.probability_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.version_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.weight_price_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.message_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.wh_id_a4c %></td>
    <% rescue => e; end %>
    <% begin %>
      <td><%=h price.weight_info_a4c %></td>
    <% rescue => e; end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New price', new_price_path %>
