<p>
  <b>Code:</b>
  <%=h @price.code %>
</p>

<p>
  <b>Title:</b>
  <%=h @price.title %>
</p>

<p>
  <b>Supplier:</b>
  <%=h @price.supplier %>
</p>

<p>
  <b>Margin:</b>
  <%=h @price.margin %>
</p>

<p>
  <b>Original:</b>
  <%=h @price.original %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>