<p>
  <b>Code:</b>
  <%=h @price.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @price.name %>
</p>

<p>
  <b>Contractor:</b>
  <%=h @price.contractor %>
</p>

<p>
  <b>Margin:</b>
  <%=h @price.margin %>
</p>

<p>
  <b>Original:</b>
  <%=h @price.original %>
</p>

<p>
  <b>Username:</b>
  <%=h @price.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @price.password %>
</p>

<p>
  <b>Filename:</b>
  <%=h @price.filename %>
</p>

<p>
  <b>Settings:</b>
  <%=h @price.settings_id %>
</p>

<p>
  <b>Settings type:</b>
  <%=h @price.settings_type %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>