<p>
  <b>Code:</b>
  <%=h @price.code %>
</p>

<p>
  <b>Contractor:</b>
  <%=h @price.contractor %>
</p>

<p>
  <b>Margin:</b>
  <%=h @price.margin %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>