<%= form_for(@discount_group) do |f| %>
  <% if @discount_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount_group.errors.count, "error") %> prohibited this discount_group from being saved:</h2>

      <ul>
      <% @discount_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
