<h1>Listing goods</h1>

<table>
  <tr>
    <th><%= t 'PriceReceive' %></th>
    <th><%= t 'Manufacturer' %></th>
    <th><%= t 'Contractor' %></th>
    <th><%= t 'Code' %></th>
    <th><%= t 'Cost' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goods.each do |goods| %>
  <tr>
    <td><%= goods.price.code %></td>
    <td><%= goods.manufacturer.name %></td>
    <td><%= goods.contractor.name %></td>
    <td><%= goods.code %></td>
    <td><%= goods.cost %></td>
    <td><%= link_to 'Show', goods %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path(goods) %></td>
    <td><%= link_to 'Destroy', goods, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goods', new_polymorphic_path(Goods) %>
