<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @goods.price %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @goods.manufacturer %>
</p>

<p>
  <b>Contractor:</b>
  <%= @goods.contractor %>
</p>

<p>
  <b>Code:</b>
  <%= @goods.code %>
</p>

<p>
  <b>Cost:</b>
  <%= @goods.cost %>
</p>

<%= link_to 'Edit', edit_polymorphic_path(@goods) %> |
<%= link_to 'Back', goods_path %>
