<p>
  <b>Price:</b>
  <%=h @good.price %>
</p>

<p>
  <b>Contractor:</b>
  <%=h @good.contractor %>
</p>

<p>
  <b>Code:</b>
  <%=h @good.code %>
</p>

<p>
  <b>Manufacturer:</b>
  <%=h @good.manufacturer %>
</p>

<p>
  <b>Cost:</b>
  <%=h @good.cost %>
</p>


<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>