<% if @filter_job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@filter_job.errors.count, "error") %> prohibited this convert_job from being saved:</h2>

    <ul>
    <% @filter_job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= f.label "Фильтр" %><br />
    <%= f.text_field :first, :style => "width: 1000px" %>
  </p>
  <p>
    <%= f.label :col_sep %><br />
    <%= f.text_field :col_sep %>
  </p>

<pre>
  case @jobable.col_sep
    when "1"
      options[:col_sep] = ";"
    when "2"
      options[:col_sep] = "\t"
    when "3"
      options[:col_sep] = ","
    when "4"
      options[:col_sep] = "|"
  end
</pre>

  <p>
    <%= f.label :row_sep %><br />
    <%= f.text_field :row_sep %>
  </p>
  <pre>
    case @jobable.row_sep
      when "1"
        options[:quote_char] =  "\x0d"
      when "2"
        options[:quote_char] =  "0d"
    end
  </pre>
  <p>
    <%= f.label :quote_char %><br />
    <%= f.text_field :quote_char %>
  </p>
<pre>
if @jobable.quote_char.present?
  case @jobable.quote_char
    when "1"
      options[:quote_char] =  "\x0"
    when "2"
      options[:quote_char] =  "\""
  end
end
</pre>
  <p>
    <%= f.buttons %>
  </p>
