<% if @filter_job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@filter_job.errors.count, "error") %> prohibited this convert_job from being saved:</h2>

    <ul>
    <% @filter_job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= f.label "Фильтр" %><br />
    <%= f.text_field :first, :style => "width: 1000px" %>
  </p>
<pre>
  int(row[0][0:2]) > 20 and re.match("РОСС", row[1]) is not None
  Каталожный номер (Первый столбец) начинается на числа более 20.... и содержат название (второй столбец) ..РОСС..

  re.match("АКСЕССУАРЫ", row[1]) is not None
  Выбираем только категорию (второй столбец) аксессуары

  float(row[3]) > 0 and re.match("^(MAZDA|HONDA|MITSUBISHI|NISSAN|TOYOTA)$", (row[0]).strip(), re.IGNORECASE) is not None
  Цена (четвертый стоблец) больше нуля, с учетом того, что цена может быть вещественным числом.
  Только и только перечисленные Make, т.е. например не "Original MAZDA", но "    MazDA ", независимо от количества пустых символов вначале и вконце и независимо от регистра
  </pre


  <p>
    <%= f.label :col_sep %><br />
    <%= f.text_field :col_sep %>
  </p>

<pre>
  case @jobable.col_sep
    when "1"
      options[:col_sep] = ";"
    when "2"
      options[:col_sep] = "\t"
    when "3"
      options[:col_sep] = ","
    when "4"
      options[:col_sep] = "|"
  end
</pre>

  <p>
    <%= f.label :quote_char %><br />
    <%= f.text_field :quote_char %>
  </p>
<pre>
if @jobable.quote_char.present?
  case @jobable.quote_char
    when "1"
      options[:quote_char] =  "\x0"
    when "2"
      options[:quote_char] =  "\""
  end
end
</pre>
  <p>
    <%= f.buttons %>
  </p>
