<h1>Listing filter_jobs</h1>

<table>
  <tr>
    <th>First</th>
    <th>Second</th>
    <th>Third</th>
    <th>Fourth</th>
    <th>Fifth</th>
    <th>Sixth</th>
    <th>Seventh</th>
    <th>Eighth</th>
    <th>Ninth</th>
    <th>Tenth</th>
    <th>Col sep</th>
    <th>Row sep</th>
    <th>Quote char</th>
    <th>Converters</th>
    <th>Encoding</th>
    <th>Field size limit</th>
    <th>Unconverted fields</th>
    <th>Headers</th>
    <th>Return headers</th>
    <th>Write headers</th>
    <th>Header converters</th>
    <th>Skip blanks</th>
    <th>Force quotes</th>
  </tr>

<% @filter_jobs.each do |filter_job| %>
  <tr>
    <td><%=h filter_job.first %></td>
    <td><%=h filter_job.second %></td>
    <td><%=h filter_job.third %></td>
    <td><%=h filter_job.fourth %></td>
    <td><%=h filter_job.fifth %></td>
    <td><%=h filter_job.sixth %></td>
    <td><%=h filter_job.seventh %></td>
    <td><%=h filter_job.eighth %></td>
    <td><%=h filter_job.ninth %></td>
    <td><%=h filter_job.tenth %></td>
    <td><%=h filter_job.col_sep %></td>
    <td><%=h filter_job.row_sep %></td>
    <td><%=h filter_job.quote_char %></td>
    <td><%=h filter_job.converters %></td>
    <td><%=h filter_job.encoding %></td>
    <td><%=h filter_job.field_size_limit %></td>
    <td><%=h filter_job.unconverted_fields %></td>
    <td><%=h filter_job.headers %></td>
    <td><%=h filter_job.return_headers %></td>
    <td><%=h filter_job.write_headers %></td>
    <td><%=h filter_job.header_converters %></td>
    <td><%=h filter_job.skip_blanks %></td>
    <td><%=h filter_job.force_quotes %></td>
    <td><%= link_to 'Show', filter_job %></td>
    <td><%= link_to 'Edit', edit_filter_job_path(filter_job) %></td>
    <td><%= link_to 'Destroy', filter_job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New filter_job', new_filter_job_path %>