<p>
  <b>First:</b>
  <%=h @filter_job.first %>
</p>

<p>
  <b>Second:</b>
  <%=h @filter_job.second %>
</p>

<p>
  <b>Third:</b>
  <%=h @filter_job.third %>
</p>

<p>
  <b>Fourth:</b>
  <%=h @filter_job.fourth %>
</p>

<p>
  <b>Fifth:</b>
  <%=h @filter_job.fifth %>
</p>

<p>
  <b>Sixth:</b>
  <%=h @filter_job.sixth %>
</p>

<p>
  <b>Seventh:</b>
  <%=h @filter_job.seventh %>
</p>

<p>
  <b>Eighth:</b>
  <%=h @filter_job.eighth %>
</p>

<p>
  <b>Ninth:</b>
  <%=h @filter_job.ninth %>
</p>

<p>
  <b>Tenth:</b>
  <%=h @filter_job.tenth %>
</p>

<p>
  <b>Col sep:</b>
  <%=h @filter_job.col_sep %>
</p>

<p>
  <b>Row sep:</b>
  <%=h @filter_job.row_sep %>
</p>

<p>
  <b>Quote char:</b>
  <%=h @filter_job.quote_char %>
</p>

<p>
  <b>Converters:</b>
  <%=h @filter_job.converters %>
</p>

<p>
  <b>Encoding:</b>
  <%=h @filter_job.encoding %>
</p>

<p>
  <b>Field size limit:</b>
  <%=h @filter_job.field_size_limit %>
</p>

<p>
  <b>Unconverted fields:</b>
  <%=h @filter_job.unconverted_fields %>
</p>

<p>
  <b>Headers:</b>
  <%=h @filter_job.headers %>
</p>

<p>
  <b>Return headers:</b>
  <%=h @filter_job.return_headers %>
</p>

<p>
  <b>Write headers:</b>
  <%=h @filter_job.write_headers %>
</p>

<p>
  <b>Header converters:</b>
  <%=h @filter_job.header_converters %>
</p>

<p>
  <b>Skip blanks:</b>
  <%=h @filter_job.skip_blanks %>
</p>

<p>
  <b>Force quotes:</b>
  <%=h @filter_job.force_quotes %>
</p>


<%= link_to 'Edit', edit_filter_job_path(@filter_job) %> |
<%= link_to 'Back', filter_jobs_path %>