<p>
  <b>First:</b>
  <%=h @filter_job.first %>
</p>

<p>
  <b>Second:</b>
  <%=h @filter_job.second %>
</p>

<p>
  <b>Third:</b>
  <%=h @filter_job.third %>
</p>

<p>
  <b>Fourth:</b>
  <%=h @filter_job.fourth %>
</p>

<p>
  <b>Fifth:</b>
  <%=h @filter_job.fifth %>
</p>

<p>
  <b>Sixth:</b>
  <%=h @filter_job.sixth %>
</p>

<p>
  <b>Seventh:</b>
  <%=h @filter_job.seventh %>
</p>

<p>
  <b>Eighth:</b>
  <%=h @filter_job.eighth %>
</p>

<p>
  <b>Ninth:</b>
  <%=h @filter_job.ninth %>
</p>

<p>
  <b>Tenth:</b>
  <%=h @filter_job.tenth %>
</p>


<%= link_to 'Edit', edit_filter_job_path(@filter_job) %> |
<%= link_to 'Back', filter_jobs_path %>