<%= form_for(@http_crawler) do |f| %>
  <% if @http_crawler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@http_crawler.errors.count, "error") %> prohibited this http_crawler from being saved:</h2>

      <ul>
      <% @http_crawler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instruction %><br />
    <%= f.text_area :instruction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
