<p>
  <b>Server:</b>
  <%=h @receive_email.server %>
</p>

<p>
  <b>Address:</b>
  <%=h @receive_email.address %>
</p>

<p>
  <b>Login:</b>
  <%=h @receive_email.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @receive_email.password %>
</p>

<p>
  <b>Topic:</b>
  <%=h @receive_email.topic %>
</p>

<p>
  <b>Sender:</b>
  <%=h @receive_email.sender %>
</p>


<%= link_to 'Edit', edit_receive_email_path(@receive_email) %> |
<%= link_to 'Back', receive_emails_path %>