<p>
  <b>Server:</b>
  <%=h @email.server %>
</p>

<p>
  <b>Address:</b>
  <%=h @email.address %>
</p>

<p>
  <b>Login:</b>
  <%=h @email.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @email.password %>
</p>

<p>
  <b>Topic:</b>
  <%=h @email.topic %>
</p>

<p>
  <b>Sender:</b>
  <%=h @email.sender %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>