<% if @convert_job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@convert_job.errors.count, "error") %> prohibited this convert_job from being saved:</h2>

    <ul>
    <% @convert_job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.enum_select :convert_method  %>
<br /><br />
Используется только для csv
<br />
<%= f.enum_select :col_sep %>
<br />
<%= f.enum_select :encoding %>

<%= f.buttons %>
