<% if @convert_job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@convert_job.errors.count, "error") %> prohibited this convert_job from being saved:</h2>

    <ul>
    <% @convert_job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.enum_select :convert_method  %>
<hr/>

Auto выставляется, когда кодировка у прайса поломана (напримерм Мировые смазочные масла)<br/>
Разделитель столбцов ставится, только если если используется метод замены переносов

<br/>
Разделитель столбцов
<br />
<%= f.enum_select :col_sep %>

<br/>
Входная кодировка
<br />
<%= f.enum_select :encoding_in %>

<br/>
Выходная кодировка
<br />
<%= f.enum_select :encoding_out %>

<br />
Строка для запуска, [in_file] - входной файл, [out_file] - выходной файл<br/>
<%= f.text_field :exec_string, :size => 60 %>
<br/><br/>

<pre>
iconv -f CP1251 -t UTF-8//IGNORE [in_file] > [out_file]
//IGNORE
//TRANSLIT
-f и -t могут быть опущены
</pre>

<%= f.buttons %>
