<h1>Listing suppliers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Title En</th>   
    <th>Title Full</th>   
    <th>Inn</th>
    <th>Kpp</th>
    <th>Login</th>
    <th>Password</th>
    <th>Job</th>
    <th>Status</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%=h supplier.title %></td>
    <td><%=h supplier.title_en %></td>
    <td><%=h supplier.title_full %></td>
    <td><%=h supplier.inn %></td>
    <td><%=h supplier.kpp %></td>
    <td><%=h supplier.login %></td>
    <td><%=h supplier.password %></td>
    <td><%= link_to 'Jobs', supplier_jobs_path(supplier) %></td>
    <td><%=h supplier.jobs.select{|job| job.last_error.present?}.map{|job| job.last_error + " "} %></td>
    <td><%= supplier.description %>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Destroy supplier prices', destroy_by_supplier_supplier_supplier_prices_path(supplier.id), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Start supplier jobs', start_by_supplier_supplier_jobs_path(supplier.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New supplier', new_supplier_path %>
