<h1>New supplier</h1>

<% form_for(@supplier) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :inn %><br />
    <%= f.text_field :inn %>
  </p>
  <p>
    <%= f.label :kpp %><br />
    <%= f.text_field :kpp %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', suppliers_path %>