<p>
  <b>Title:</b>
  <%=h @supplier.title %>
</p>

<p>
  <b>Inn:</b>
  <%=h @supplier.inn %>
</p>

<p>
  <b>Kpp:</b>
  <%=h @supplier.kpp %>
</p>

<p>
  <b>Login:</b>
  <%=h @supplier.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @supplier.password %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>