<h1>Editing fuel</h1>

<% form_for(@fuel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fuel %> |
<%= link_to 'Back', fuels_path %>