<h1>Listing manufacturers</h1>

<% "A".upto("Z") do |l| %>
  <%= link_to l, manufacturers_path(:letter => l) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
<br /><br />
<% "А".upto("Я") do |l| %>
  <%= link_to l, manufacturers_path(:letter => l) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
<br /><br />

<script>
  $(function(){

    updateForm = function(){
      window.deserialized = $.deserialize($.cookie('multiply_ids'));
      formHidden = $('form#hidden div#fields');
      formHidden.empty();
      if(window.deserialized.manufacturer_ids){
        manufacturer_ids = window.deserialized.manufacturer_ids
        $.each(manufacturer_ids, function(index, value){
          inputHidden = $('<input />', {type: 'hidden', name: "manufacturer_ids[]", value: value});
          inputHidden.appendTo(formHidden);
          $('form#public input[value=' + value + ']').attr('checked', 'checked');
        });
        $("#multiply_ids").text($.param(window.deserialized)); 
      } else {
        $('form#public input[type=checkbox]').removeAttr('checked');
        $("#multiply_ids").html("&nbsp;"); 
      }
    }

    $("form#public input:checkbox").change(function(){
      if($(this).is(":checked")){
        $.cookie('multiply_ids', ($.cookie('multiply_ids') ? $.cookie('multiply_ids') + "&" : "") + $(this).serialize());
      }
      else
      {
        new_deserialized = $.deserialize($.cookie('multiply_ids'));
        delete new_deserialized.manufacturer_ids[$(this).val()];
        if($.isEmptyObject(new_deserialized.manufacturer_ids))
          new_deserialized = "";
        $.cookie('multiply_ids', $.param(new_deserialized));
      }
      updateForm();
    })

    updateForm();

    $('#reset_cookie').click(function(){
      $.cookie('multiply_ids', '');
      updateForm();
    })
  })
</script>

<input type="button" id="reset_cookie" value="Сбросить выделение">
<div id="multiply_ids" >&nbsp;</div>

<% form_tag "", :id => "public" do %>

  <table>
    <tr>
      <th></th>
      <th style="width: 400px">Title</th>
      <th>Job</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <%= will_paginate @manufacturers %>
  <br />

  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= check_box_tag "manufacturer_ids[#{manufacturer.id}]", manufacturer.id %></td>
      <td><%= manufacturer.title %></td>
      <td>
        <% if manufacturer.job_id.present? %>
          <%= 
            begin 
              link_to Job.find(manufacturer.job_id), supplier_job_path(Job.find(manufacturer.job_id).supplier_id, manufacturer.job_id) 
            rescue => e;
            end %>
        <% end %>
      </td>
      <td><%= link_to 'Show', manufacturer %></td>
      <td><%= link_to 'Edit', edit_manufacturer_path(manufacturer) %></td>
      <td><%= link_to 'Destroy', manufacturer_path(manufacturer, {:letter => params[:letter], :page => params[:page]}), :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
      <td><%= link_to 'Синонимы', manufacturer_manufacturer_synonyms_path(manufacturer, {:letter => params[:letter], :page => params[:page]}) %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% form_tag edit_multiply_manufacturers_path, :id => "hidden" do %>
  <p><%= submit_tag "Редактировать" %></p>
  <div id="fields"> </div>
<% end %>

<%= will_paginate @manufacturers %>

<br />

<%= link_to 'New Manufacturer', new_manufacturer_path %>
