<!DOCTYPE html>
<html>
<head>
  <title>Avtorif</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <style type="text/css">
    tr:nth-child(even) {
      background: #FED;
    }

    tr:nth-child(odd) {
      background: #FDD;
    }
  </style>
</head>
<body>

<p>
<%= link_to "Поставщики", suppliers_path %><br />
<%= link_to "Принятые файлы", supplier_prices_path %><br />
<%= link_to "Группы интервалов работы задач", repeats_path %><br />
<%= link_to "Задачи приема без единого приема", check_receives_path %><br />
<%= link_to "Стартануть насильно все задачи приема", start_all_jobs_path %> <br />
</p>

<div>
  <%= pages.join(" ").html_safe %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
